body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

h1 {
    text-align: center;
}

.partido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.partido h2 {
    margin: 0;
    font-size: 1.2em;
    flex: 1;
}

.controls {
    display: flex;
    align-items: center;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 40px; /* Cambiado a 40px */
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.restar {
    background-color: #dc3545;
}

button:hover {
    opacity: 0.8;
}

.total {
    text-align: center;
    margin-top: 20px;
}
